{% extends "base.html.twig" %}

{% block title %}{{ site_name }} - About{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>About</h1>
        </div>
    </div>
{% endblock %}