{% extends "home-base.html.twig" %}

{% block title %}{{ site_name }}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="w-100 align-self-center text-center" style="padding-bottom: 15%;">
        <div id="home-root"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
