{% extends "home-base.html.twig" %}

{% block title %}HomeComb{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="container align-self-center text-center" style="padding-bottom: 15%;">
        <h1 class="logo-large"><span class="red">Home</span><span class="bronze">Comb</span></h1>
        <form>
            <label for="propertySearch">Find a property</label>
            <input type="text" class="form-control" id="propertySearch" aria-describedby="propertySearchHelp" placeholder="Start typing an address">
            <p id="propertySearchHelp" class="form-text text-muted">After you've entered a few characters, you will see suggested results</p>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $( function() {
            $("#propertySearch").autocomplete({
                source: "/api/property/suggest-property",
                minLength: 3,
                select: function(event, ui){
                    console.log(ui.item.id);
                    $.get('/api/property/lookup-id-from-vendor-id?vendorPropertyId=' + ui.item.id, function( data ) {
                        location.href = '/property/' + data.propertyId;
                    });
                }
            });
        } );
    </script>
{% endblock %}
