@import "variables";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kufam:wght@600&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    max-width: 100%;
    background-color: #DFDFDF;
}

.navbar-header {
    margin-bottom: 2%;
}

.light-bronze {
    background-color: $light-bronze;
}

.navbar-brand a {
    text-decoration: none;
}

.bg-secondary-light {
    background-color: $secondary-light;
}
.bg-secondary-light .dropdown-item {
    color: $gray-800;
}
.bg-secondary-light a.dropdown-item:hover {
    background-color: $secondary !important;
}

footer.navbar {
    margin-top: 2%;
    margin-bottom: 0;
    height: 60px;
    line-height: 60px;
}

footer ul {
    width: 100%;
    text-align: center;
    list-style: inside;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

footer ul, footer ul li {
    margin: 0;
    padding: 0;
}

.logo-first {
    color: $primary;
}
.logo-second {
    color: $primary;
}

.logo-white {
    color: $white;
}

.logo-white .logo-first {
    color: $white;
}
.logo-white .logo-second {
    color: $white;
}

.logo-large {
    font-size: 5rem;
    line-height: 1.3;
    font-family: $logo-font, sans-serif;
}

.logo-medium {
    font-size: 2.5rem;
    font-family: $logo-font, sans-serif;
}

.logo-sm {
    font-size: 1.5rem;
    font-family: $logo-font, sans-serif;
}

.breadcrumb a, .red, a {
    color: $primary;
}
.bronze {
    color: $bronze;
}

a:hover {
    color: $bronze;
}

.btn-primary {
    background-color: $bronze;
    border-color: $bronze;
}

.btn-primary:hover {
    background-color: $brick;
    border-color: $brick;
}

textarea {
    min-height: 100px;
}

label.error {
    padding: 5px;
    background-color: #e80000;
    color: #ffffff;
}

#reviewContent {
    min-height: 150px;
}

.checked {
    color: orange;
}

.alert-primary {
    background-color: #175700;
    border-color: gray;
    color: #ffffff;
}

.alert-error {
    background-color: #cc0000;
    border-color: gray;
    color: #ffffff;
}

.font-weight-bold {
    font-weight: bold;
}

.btn-ellipsis {
    border: 1px solid #DDDDDD;
}

.page-title {
    padding-bottom: 20px;
}

.top-rated-agencies .agency-logo {
    width: 120px;
    max-height: 120px;
    border: 1px solid #CCCCCC;
}

.top-rated-agencies .agency-logo-container {
    width: 120px;
    margin: 0 10px 5px 0;
}

.branch-agency {
    border-left: 1px solid #CCCCCC;
}

.branch-reviews {
    padding-right: 25px;
}
.branch-agency .agency-logo {
    width: 160px;
    max-height: 160px;
}

.agency-branch {
    margin-bottom: 1em;
}

.text-rating {
    color: #dc9300;
}
.text-rating-unchecked {
    color: #b1b1b1;
}

.bg-clear
{
    background: none !important;
}

.navbar-nav a {
    color: $white;
    margin-right: 1.5rem;
}

.bg-light-translucent-20
{
    background-color: #cdc3c033;
}
.bg-light-translucent-30
{
    background-color: #cdc3c04c;
}
.bg-light-translucent-50
{
    background-color: #cdc3c088;
}
.bg-light-translucent-60
{
    background-color: #cdc3c099;
}
.bg-light-translucent-75
{
    background-color: #cdc3c0be;
}
.bg-light-translucent-85
{
    background-color: #cdc3c0d8;
}
.bg-light-translucent-90
{
    background-color: #cdc3c0e6;
}
.bg-light-translucent-95
{
    background-color: #cdc3c0f2;
}
.rounded-lg {
    border-radius: 1rem !important;
}

.mt-6 {
    margin-top: 4.5rem;
}

.mt-7 {
    margin-top: 6rem;
}

.mb-6 {
    margin-bottom: 4.5rem;
}

.mb-7 {
    margin-bottom: 6rem;
}

.how-it-works {
    background-color: $yellow-pastel;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.react-datepicker-wrapper {
    display: block;
}
