@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    max-width: 100%;
    background-color: #DFDFDF;
}

.navbar {
    background-color: #cdc3c0;
    margin-bottom: 2%;
}

.light-bronze {
    background-color: #cdc3c0;
}

.navbar-brand a {
    text-decoration: none;
}

footer.navbar {
    margin-top: 2%;
    margin-bottom: 0;
    height: 60px;
    line-height: 60px;
}

footer ul {
    width: 100%;
    text-align: center;
    list-style: inside;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

footer ul, footer ul li {
    margin: 0;
    padding: 0;
}

.logo-large {
    font-size: 5rem;
    line-height: 1.3;
    font-family: 'Libre Baskerville', serif;
}

.logo-medium {
    font-size: 3rem;
    font-family: 'Libre Baskerville', serif;
}

.logo-sm {
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
}

.navbar a, .breadcrumb a, .red, a, .nav-link {
    color: #862e2e !important;
}
.bronze {
    color: #8d6651;
}

a:hover {
    color: #8d6651;
}

.btn-primary {
    background-color: #8d6651;
    border-color: #8d6651;
}

.btn-primary:hover {
    background-color: #862e2e;
    border-color: #862e2e;
}

textarea {
    min-height: 100px;
}

label.error {
    padding: 5px;
    background-color: #e80000;
    color: #ffffff;
}

#reviewContent {
    min-height: 150px;
}

.checked {
    color: orange;
}

.alert-primary {
    background-color: #175700;
    border-color: gray;
    color: #ffffff;
}

.alert-error {
    background-color: #cc0000;
    border-color: gray;
    color: #ffffff;
}

.font-weight-bold {
    font-weight: bold;
}

.btn-ellipsis {
    border: 1px solid #DDDDDD;
}

.page-title {
    padding-bottom: 20px;
}

.top-rated-agencies .agency-logo {
    width: 120px;
    max-height: 120px;
    border: 1px solid #CCCCCC;
}

.top-rated-agencies .agency-logo-container {
    width: 120px;
    margin: 0 10px 5px 0;
}

.branch-agency {
    border-left: 1px solid #CCCCCC;
}

.branch-reviews {
    padding-right: 25px;
}
.branch-agency .agency-logo {
    width: 160px;
    max-height: 160px;
}

.agency-branch {
    margin-bottom: 1em;
}

.text-rating {
    color: #dc9300;
}
.text-rating-unchecked {
    color: #b1b1b1;
}