@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "app";

.find-by-postcode {
    @extend .pt-3;
    @extend .pb-5;
    text-align: center;
}

.find-by-postcode p {
    font-size: 125%;
    text-align: justify;
    @extend .ml-auto;
    @extend .mr-auto;
    @extend .pb-3;
    max-width: 600px;
}

.find-by-postcode-form .input-group {
    @extend .ml-auto;
    @extend .mr-auto;
    max-width: 280px;
    @extend .pb-3;
}

.find-by-postcode-form input {
    font-size: 160%;
}

.find-by-postcode h1  {
    font-family: $logo-font;
    @extend .pb-3;
}

.find-by-postcode h3  {
    font-family: $logo-font;
    @extend .pb-3;
}

.find-by-postcode .address {
    @extend .p-2;
    cursor: pointer;
    font-size: 120%;
    border-top: 1px solid $gray-300;
    color: $primary;
}