label {
  font-size: 170%;
}
p {
  font-size: 130%;
}
input {
  font-size: 120%;
  margin: 8px 0 10px 0;
}
.container {
  max-width: 800px !important;
}
h1 {
  padding-bottom: 8px;
}
.form-group {
  padding: 0;
}