#home {
  padding-bottom: 2.5em;
}
#home label {
  font-size: 170%;
}
#home p {
  font-size: 130%;
}
#home .container {
  max-width: 750px;
}
#home input {
  font-size: 120%;
  margin: 8px 0 10px 0;
}
#home h1 {
  padding-bottom: 8px;
}
#home .form-group {
  padding: 0;
}