<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('index') }}
        {% block stylesheets %}{% endblock %}
        {% block headJavascripts %}{% endblock %}
        <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% block content %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('index') }}
        {% endblock %}
    </body>
</html>
