{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block main %}
    <div role="main" class="container h-100 d-flex">
        {% block content %}{% endblock %}
    </div>
{% endblock %}