<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}HomeComb{% endblock %}</title>
    {{ encore_entry_link_tags('login') }}
</head>
<body>
    {% block body %}{% endblock %}

    <footer class="container text-center">
        <a href="{{ path('app_home') }}">Back to HomeComb</a>
    </footer>
</body>
</html>
