{% extends "base.html.twig" %}

{% block title %}{{ agency.name }} | Lettings Agent Reviews | HomeComb{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ agency.name }}</h1>
    </div>
{% endblock %}
