<div class="modal" tabindex="-1" id="flag-review-modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Report inappropriate content</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="flag-review-form">
                <input type="hidden" name="flag-review-entity-name" id="flag-review-entity-name" value="Review">
                <input type="hidden" name="flag-review-entity-id" id="flag-review-entity-id" value="">
                <div class="modal-body">
                    <p>If this review is inappropriate, you can flag it to our moderation team. <label for="flag-review-entity-content">Please enter an explanation below:</label></p>
                    <input type="text" name="flag-review-entity-content" id="flag-review-entity-content" class="form-control" placeholder="Enter an explanation..." required>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-primary g-recaptcha"
                            data-sitekey="reCAPTCHA_site_key"
                            data-callback="onSubmit"
                            data-action="submit">Send report</button>
                </div>
            </form>
        </div>
    </div>
</div>