<div class="review-stars">
    {% if review.overallStars %}
        {% include 'snippets/stars.html.twig' with {'label': 'Overall', 'stars': review.overallStars} %}
    {%  endif %}
    {% if review.agencyStars %}
        {% include 'snippets/stars.html.twig' with {'label': 'Agency', 'stars': review.agencyStars} %}
    {%  endif %}
    {% if review.landlordStars %}
        {% include 'snippets/stars.html.twig' with {'label': 'Landlord', 'stars': review.landlordStars} %}
    {%  endif %}
    {% if review.propertyStars %}
        {% include 'snippets/stars.html.twig' with {'label': 'Property', 'stars': review.propertyStars} %}
    {%  endif %}
</div>