<div class="stars">
    {{ label }}:
    <span class="fa fa-star {% if stars >= 1 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if stars >= 2 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if stars >= 3 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if stars >= 4 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if stars >= 5 %} checked {% endif %}"></span>
</div>