@import "variables";

#home {
  padding-bottom: 2.5em;
}
#home label {
  font-size: 170%;
}
#home p {
  font-size: 130%;
}
@media (max-width: 991px) {
  #home label {
    font-size: 140%;
  }
  #home p {
    font-size: 110%;
  }
}
#home .container {
  max-width: 750px;
}
#home input, #home .input-group button {
  font-size: 120%;
  margin: 8px 0 10px 0;
}
#home h1 {
  padding-bottom: 8px;
}
#home .form-group {
  padding: 0;
}

#home-background {
  background-image: url('../../public/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 80%;
}