@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "app";

.question {
    @extend .mb-5;
}

.question-back {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-sm;
    @extend .mr-3;
}

.question-skip {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-sm;
}

.question h2 {
    font-size: 175%;
}

.scale-5 {
    @extend .mb-5;
    white-space: nowrap;
}

.scale-5 .meaning {
    font-size: 125%;
}

.scale-5 .low-meaning {
    @extend .pr-3;
    //@extend .float-left;
}

.scale-5 .high-meaning {
    @extend .pl-4;
    //@extend .float-right;
}

.scale-5 .rating-icon {
    font-size: 150%;
}
