@import "variables";

.review .author {
    font-weight: bold;
    margin-left: .3em;
}

.review h3 {
    font-size: 135%;
    font-family: $title-font;
}

.review-date {
    font-size: 85%;
    color: $gray-600;
}

.month-range-start, .month-range-end {
    font-style: italic;
}