{% extends "base.html.twig" %}

{% block title %}Create Agency | {{ site_name }}{% endblock %}

{% block headJavascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="create-agency-root"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('create-agency') }}
{% endblock %}