{% extends 'emails/base.html.twig' %}

{% block content %}
    <div class="container content">
        <h1>We value your feedback!</h1>

        <p>
            Hello {{ firstName }},
        </p>

        <p>
            {{ agencyName }} has asked us to email you, inviting you to review your tenancy at {{ addressLine1 }}.
        </p>

        <div class="call-to-action">
            <a href="{{ url }}">
                Review your Tenancy
            </a>
        </div>
    </div>
    <div class="container footer">
        {% include 'emails/snippets/social-icons.html.twig' %}
        <p>
            You are receiving this email because a lettings agent entered your email address in a form in our application.
        </p>
    </div>
{% endblock %}
