html, body {
    height: 100%;
}

body {
    background-color: #DFDFDF;
    font-size: 1.5em;
}

.logo {
    font-size: 5rem;
    line-height: 1.3;
    font-family: 'Libre Baskerville', serif;
}

.red {
    color: #862e2e;
}
.bronze {
    color: #97705a;
}