html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #DFDFDF;
}

.navbar {
    background-color: #cdc3c0;
    margin-bottom: 2%;
}

.navbar-brand a {
    text-decoration: none;
}

footer.navbar {
    margin-top: 2%;
    margin-bottom: 0;
    height: 60px;
    line-height: 60px;
}

footer ul {
    width: 100%;
    text-align: center;
    list-style: inside;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

footer ul, footer ul li {
    margin: 0;
    padding: 0;
}

.logo-large {
    font-size: 5rem;
    line-height: 1.3;
    font-family: 'Libre Baskerville', serif;
}

.logo-medium {
    font-size: 3rem;
    font-family: 'Libre Baskerville', serif;
}

footer.navbar a, .breadcrumb a, .red {
    color: #862e2e;
}
.bronze {
    color: #8d6651;
}

.btn-primary {
    background-color: #8d6651;
    border-color: #8d6651;
}

.btn-primary:hover {
    background-color: #862e2e;
    border-color: #862e2e;
}

textarea {
    min-height: 100px;
}

label.error {
    padding: 5px;
    background-color: #e80000;
    color: #ffffff;
}