{% extends "base.html.twig" %}

{% block title %}HomeComb{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ property.addressLine1 }}, {{ property.postcode }}</h1>
        </div>

        <div class="row">
            <p>
                There are currently no reviews for this property.
            </p>
        </div>

        <div class="row">
            <h3>About this property:</h3>
        </div>

        <div class="row">
            <p>
                Address: {{ [property.addressLine1, property.addressLine2, property.addressLine3, property.city]|join(', ') }}<br>
                Postcode: {{ property.postcode }}
            </p>
        </div>

        <div class="row">
            <h3>Review this property:</h3>
        </div>
        <div class="row">
            <p>
                Have you been a tenant at this property? We'd love it if you could review your tenant experience!
            </p>
        </div>
        <div class="row">
            <a href="{{ path('property-review', { 'propertyId': property.id }) }}" class="btn btn-primary">Review your tenancy</a>
        </div>
    </div>
{% endblock %}